# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# OS/Editor
.DS_Store
Thumbs.db

# Java
*.class

# Node/npm (if any UI)
node_modules/

# Docker
*.orig
.env


